*.tsv.gz filter=lfs diff=lfs merge=lfs -text
*.txt.gz filter=lfs diff=lfs merge=lfs -text
*.csv.gz filter=lfs diff=lfs merge=lfs -text
*.xlsx.gz filter=lfs diff=lfs merge=lfs -text
*.nwk.gz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
