.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/.mutt-r-library/
inst/doc
/doc/
/Meta/
*/functional/
/studies/*/functional/
/..Rcheck/
/mutt.Rcheck/
/mutt_*.tar.gz
/release/
/datasetsfromrepo*.RData
/helperdata/*.zip
/helperdata/__MACOSX/
*/orientation_repair.staging/
/studies/*/orientation_repair.staging/
